@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
body{
    font-weight : 600;
    color:#222;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ddd !important;
    height: 37px !important;
}
.sort-form {
    margin-bottom: 15px;
}
.sort-form .from-group {
    margin: 5px 0;
    font-family: 'Hind Siliguri', sans-serif;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    font-family: 'Hind Siliguri', sans-serif;
}
.select2-results__option[aria-selected] {
    font-family: 'Hind Siliguri', sans-serif;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 35px;
}
#sidebar-menu>ul>li>a {
    color: #222 !important;
}
.table-nowrap td, .table-nowrap th {
    white-space: nowrap;
    color: #222 !important;
    font-weight: 600;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0f52cd !important;
    border: 1px solid #0f52cd !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}
.backend-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.edit-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 5px;
    background: #f1f1f1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}